:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

body {
  color: #2F2C2A;
}

img {
  width: 100%;
  display: block;
}

.more-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #2F2C2A;
  color: #eee;
  text-transform: capitalize;
  text-decoration: none;
}

.more-btn:hover {
  color: #fff;
}

.web-logo {
  width: 60px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
  background-color: #3C4856;
  -webkit-box-shadow: 0px 0.8px 3.6px rgba(0, 0, 0, 0.07), 0px 15.1px 10px rgba(0, 0, 0, 0.088), 0px 36.1px 24.1px rgba(0, 0, 0, 0.107), 0px 47px 80px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0.8px 3.6px rgba(0, 0, 0, 0.07), 0px 15.1px 10px rgba(0, 0, 0, 0.088), 0px 36.1px 24.1px rgba(0, 0, 0, 0.107), 0px 47px 80px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 10;
}

.header h1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .header h1 {
    position: relative;
    z-index: 2;
  }
}

.header .hb {
  display: none;
}

.header .hb .sr-only {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  z-index: 2;
}

.header .hb .sr-only:before, .header .hb .sr-only:after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  margin: auto;
}

.header .hb .sr-only:before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-box-shadow: 0 12px 0 #eee;
          box-shadow: 0 12px 0 #eee;
  -webkit-transition: background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
  transition: background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
  transition: box-shadow .3s .3s,transform .3s ,background-color .3s;
  transition: box-shadow .3s .3s,transform .3s ,background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
}

.header .hb .sr-only:after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: background-color .3s ,-webkit-transform .3s;
  transition: background-color .3s ,-webkit-transform .3s;
  transition: transform .3s ,background-color .3s;
  transition: transform .3s ,background-color .3s ,-webkit-transform .3s;
}

@media (max-width: 767px) {
  .header .hb {
    display: block;
    padding-right: 15px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .header {
    position: relative;
    z-index: 2;
  }
}

.hb-full {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #0008;
  opacity: 0;
  z-index: 1;
}

.main-nav {
  padding: 0 15px;
}

.main-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: inherit;
  font-weight: 600;
  color: #eee;
}

.main-nav a[data-info="contact"] {
  display: none;
}

@media (max-width: 767px) {
  .main-nav a[data-info="contact"] {
    display: block;
  }
}

@media (max-width: 767px) {
  .main-nav a {
    font-size: 0.9rem;
    color: #eee;
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    left: 0;
    top: -50vh;
    width: 100%;
    height: 50vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: calc(25vh - 37.6px);
    background-color: #0c0c0c;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
}

#menu-check {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  #menu-check:checked ~ .header .sr-only:before {
    -webkit-box-shadow: 0 12px 0 transparent;
            box-shadow: 0 12px 0 transparent;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
    background-color: #eee;
    -webkit-transition: background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
    transition: background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
    transition: box-shadow .3s,transform .3s .3s,background-color .3s .3s;
    transition: box-shadow .3s,transform .3s .3s,background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
  }
  #menu-check:checked ~ .header .sr-only:after {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    background-color: #eee;
    -webkit-transition: background-color .3s .3s,-webkit-transform .3s .3s;
    transition: background-color .3s .3s,-webkit-transform .3s .3s;
    transition: transform .3s .3s,background-color .3s .3s;
    transition: transform .3s .3s,background-color .3s .3s,-webkit-transform .3s .3s;
  }
  #menu-check:checked ~ .hb-full {
    opacity: 1;
    top: 0;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s;
  }
  #menu-check:checked ~ .header .main-nav {
    top: 0;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-block,
.biography-block,
.experience-block,
.education-block,
.skill-block,
.slogan-block,
.profile-block,
.works-block,
.footer-block {
  padding: 0 15px;
}

.profile-title,
.works-title,
.bio-title,
.exper-title,
.educate-title,
.skill-title {
  margin-bottom: 20px;
}

.profile-title h2,
.works-title h2,
.bio-title h2,
.exper-title h2,
.educate-title h2,
.skill-title h2 {
  background-color: #FFE162;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  position: relative;
}

.profile-title h2:after,
.works-title h2:after,
.bio-title h2:after,
.exper-title h2:after,
.educate-title h2:after,
.skill-title h2:after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0.5px;
  width: 100px;
  height: 3px;
  background-color: #FFE162;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

@media (min-width: 768px) {
  .profile-title h2,
  .works-title h2,
  .bio-title h2,
  .exper-title h2,
  .educate-title h2,
  .skill-title h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .profile-title h2,
  .works-title h2,
  .bio-title h2,
  .exper-title h2,
  .educate-title h2,
  .skill-title h2 {
    font-size: 3.2rem;
  }
}

.footer {
  background-color: #FFE162;
  padding: 20px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #eee;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul a {
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: #2F2C2A;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
}

.footer a[data-info="e-mail"] {
  font-size: 4rem;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.footer a:hover {
  color: #FF6464;
}

[class*="section-"] {
  padding: 20px 0;
}

@media (min-width: 768px) {
  [class*="section-"] {
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  [class*="section-"] {
    padding: 60px 0;
  }
}

.section-slogan {
  background: #fff url(../assets/banner.jpg) no-repeat right center/100%;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .section-slogan {
    padding: 100px 0;
  }
}

@media (min-width: 1200px) {
  .section-slogan {
    padding: 140px 0;
  }
}

.slogan-block blockquote {
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 0;
}

.slogan-block blockquote span {
  display: block;
  line-height: 1.5;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: 600;
  background-color: #eee;
  color: #FF6464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slogan-block blockquote span:last-child {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .slogan-block blockquote span:last-child {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .slogan-block blockquote span:last-child {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .slogan-block blockquote {
    font-size: 2.6rem;
    padding-left: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .slogan-block blockquote {
    font-size: 3.6rem;
    padding-left: 2.5rem;
  }
}

.section-profile {
  background: linear-gradient(150deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);
}

@media (min-width: 768px) {
  .section-profile {
    background: linear-gradient(160deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);
  }
}

@media (min-width: 768px) {
  .profile-block .profile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.profile-block .profile-txt {
  margin-bottom: 40px;
}

.profile-block .profile-txt h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: bold;
}

.profile-block .profile-txt p {
  color: #000;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .profile-block .profile-txt {
    width: 50%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.profile-block .profile-img {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 1.2rem;
  overflow: hidden;
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .profile-block .profile-img {
    width: 45%;
    margin-bottom: 0;
  }
}

.profile-block .profile-link {
  text-align: center;
}

@media (min-width: 768px) {
  .profile-block .profile-link {
    position: absolute;
    bottom: 15%;
    left: 0;
  }
}

.section-works {
  overflow: hidden;
  position: relative;
}

.section-works:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(170deg, #eee 50%, transparent 50.2%);
}

@media (min-width: 768px) {
  .section-works:before {
    height: 450px;
  }
}

.section-works .container {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

.works-category {
  margin-bottom: 20px;
}

.works-category .tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-category .tabs li {
  font-size: 1.1rem;
  color: #666;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 20px;
  padding: 4px;
}

.works-category .tabs li:not(.active) {
  position: relative;
  color: #000;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.works-category .tabs li:not(.active):before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-transform: scaleX(0) skewX(0deg);
          transform: scaleX(0) skewX(0deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background-color: #FF6464;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: -1;
}

.works-category .tabs li:not(.active):hover {
  color: #eee;
}

.works-category .tabs li:not(.active):hover:before {
  -webkit-transform: scaleX(1) skewX(-7deg);
          transform: scaleX(1) skewX(-7deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.works-category .tabs li.active {
  color: #eee;
  background-color: #FF6464;
  font-style: normal;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
}

@media (max-width: 767px) {
  .works-category .tabs li {
    margin: 0 8px;
  }
}

@media (min-width: 768px) {
  .works-category .tabs li {
    font-size: 1.4rem;
  }
}

.work-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-group li {
  background-color: #aaa;
}

.work-group li + li {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .work-group li + li {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .work-group li {
    width: calc(50% - 15px);
    margin-bottom: 20px;
  }
}

.work-group .work-item {
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.work-group .work-item .category-tag {
  font-style: italic;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #FFE162;
  color: inherit;
}

.work-group .work-item .category-tag:before {
  content: '#';
}

.work-group .work-item .work-txt h3 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.work-group .work-item .work-txt p {
  color: #fff;
  letter-spacing: .1em;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .work-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section-banner {
  background: #fff url(../assets/banner_pure.jpg) no-repeat left top/100%;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-content blockquote {
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 0;
  padding: 20px 0;
}

.banner-content blockquote span {
  display: block;
  line-height: 1.5;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: 600;
  background-color: #eee;
  color: #FF6464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.banner-content blockquote span:last-child {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .banner-content blockquote span:last-child {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .banner-content blockquote span:last-child {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .banner-content blockquote {
    font-size: 2.6rem;
    padding-left: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .banner-content blockquote {
    font-size: 3.6rem;
    padding-left: 2.5rem;
  }
}

.banner-content .banner-txt {
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .banner-content .banner-txt {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .banner-content .banner-txt {
    margin-top: 80px;
  }
}

.banner-content .banner-img {
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-top: -140px;
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .banner-content .banner-img {
    width: 45%;
    margin-top: -260px;
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .banner-content .banner-img {
    width: 35%;
    margin-right: 60px;
    margin-top: -300px;
  }
}

.bio-content .bio-img {
  padding: 0 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .bio-content .bio-img {
    width: 360px;
    padding: 0 40px;
    float: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .bio-content .bio-img {
    width: 500px;
  }
}

.bio-content .bio-txt p {
  letter-spacing: .1em;
  line-height: 2;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .bio-content .bio-txt {
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .bio-content .bio-txt {
    padding: 0 40px;
  }
}

.bio-content > div:last-child .bio-img {
  display: none;
}

@media (min-width: 768px) {
  .bio-content > div:last-child .bio-img {
    display: block;
    float: right;
  }
}

@media (min-width: 768px) {
  .bio-content > div {
    overflow: hidden;
  }
}

.timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.timeline-content .container-info {
  width: 100%;
}

.timeline-content .container-info .timeline-section {
  padding-left: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .timeline-content .container-info .timeline-section:nth-child(even) .timeline-box {
    margin-left: auto;
  }
  .timeline-content .container-info .timeline-section:nth-child(odd) .timeline-arrow {
    left: initial;
    right: -15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.timeline-content .container-info .timeline-box {
  padding: 12px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
}

.timeline-content .container-info .timeline-box h3 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 800;
}

.timeline-content .container-info .timeline-box h3 + p {
  color: #666;
  font-weight: 600;
}

.timeline-content .container-info .timeline-box h3 + p span {
  padding-left: 8px;
  font-style: italic;
  font-size: 0.9rem;
}

.timeline-content .container-info .timeline-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-content .container-info .timeline-box ul li {
  padding-left: 1em;
  letter-spacing: .1em;
}

.timeline-content .container-info .timeline-box ul li:before {
  content: '-';
  padding: 0 4px;
  font-weight: 600;
}

.timeline-content .container-info .timeline-box .timeline-arrow {
  position: absolute;
  top: 50px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eee transparent transparent;
}

@media (min-width: 768px) {
  .timeline-content .container-info .timeline-box {
    width: 46%;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .timeline-content .container-info .timeline-box {
    padding: 20px;
  }
}

.timeline-content .container-time-line {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 0 5px;
}

.timeline-content .container-time-line .time-line-bar {
  width: 10px;
  height: 100%;
  border-radius: 15px;
  background-color: #aaa;
}

@media (min-width: 768px) {
  .timeline-content .container-time-line {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
  }
}

.timeline-content .container-bullet {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.timeline-content .container-bullet .timeline-section {
  width: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.timeline-content .container-bullet .timeline-section .time-bullet {
  width: 100%;
  height: 20px;
  background-color: #666;
  border-radius: 50%;
  margin-top: 55px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04), 0px 0px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04), 0px 0px 80px rgba(0, 0, 0, 0.08);
}

.timeline-content .container-bullet .timeline-section:nth-child(2) .time-bullet {
  margin-top: 60px;
}

.timeline-content .container-bullet .timeline-section:nth-child(3) .time-bullet {
  margin-top: 20px;
}

.timeline-content .container-bullet .timeline-section:last-child .time-bullet {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .timeline-content .container-bullet .timeline-section:last-child .time-bullet {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  .timeline-content .container-bullet {
    left: 50%;
  }
}

.skill-txt ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-txt ul > li {
  padding: 0 15px;
}

.skill-txt ul > li + li {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .skill-txt ul > li + li {
    margin-top: initial;
  }
}

.skill-txt ul > li > ul {
  list-style: inside disc;
  display: inline-block;
}

.skill-txt ul > li > ul li {
  margin-top: 0;
  line-height: 1.5;
  width: 100%;
}

.skill-txt ul > li > ul li:nth-child(-n+2) {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .skill-txt ul > li {
    width: 50%;
  }
  .skill-txt ul > li:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul > li {
    width: 25%;
  }
  .skill-txt ul > li:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

.skill-txt ul span {
  font-size: 4rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 24px;
  border-radius: 50%;
  background-color: #eee;
  margin: 0 auto 1rem;
}

.skill-txt ul span .fa-solid {
  aspect-ratio: 1/1;
  width: 80px;
  text-align: center;
  color: #ccc;
}

@media (min-width: 768px) {
  .skill-txt ul span .fa-solid {
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul span .fa-solid {
    width: 44px;
  }
}

@media (min-width: 768px) {
  .skill-txt ul span {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul span {
    font-size: 2.2rem;
  }
}

.skill-txt ul h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto 12px;
  padding-bottom: 12px;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill-txt ul h3:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #91C483;
}

.skill-txt ul p {
  font-size: 1rem;
  letter-spacing: .1em;
}

@media (min-width: 768px) {
  .skill-txt ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=all.css.map */