@charset "UTF-8";
@import url(c:\Users\小太陽\OneDrive\文件\GitHub\profolio\css\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
body {
  color: #2F2C2A;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC","Microsoft JhengHei",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,Verdana,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.more-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #2F2C2A;
  color: #eee;
  -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.more-btn span {
  padding-left: 0.5rem;
}

.more-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FF6464;
  width: 0;
  height: 100%;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.more-btn:hover {
  -webkit-transform: skewX(-8deg) translateX(5px);
          transform: skewX(-8deg) translateX(5px);
  color: #fff;
}

.more-btn:hover:before {
  width: 100%;
}

.web-logo {
  width: 60px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  -webkit-box-shadow: 0px 0.8px 3.6px rgba(0, 0, 0, 0.07), 0px 15.1px 10px rgba(0, 0, 0, 0.088), 0px 36.1px 24.1px rgba(0, 0, 0, 0.107), 0px 47px 80px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0.8px 3.6px rgba(0, 0, 0, 0.07), 0px 15.1px 10px rgba(0, 0, 0, 0.088), 0px 36.1px 24.1px rgba(0, 0, 0, 0.107), 0px 47px 80px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 10;
}

.header h1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .header h1 {
    position: relative;
    z-index: 2;
  }
}

.header .hb {
  display: none;
}

.header .hb .sr-only {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  z-index: 2;
}

.header .hb .sr-only:before, .header .hb .sr-only:after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  margin: auto;
}

.header .hb .sr-only:before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-box-shadow: 0 12px 0 #eee;
          box-shadow: 0 12px 0 #eee;
  -webkit-transition: background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
  transition: background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
  transition: box-shadow .3s .3s,transform .3s ,background-color .3s;
  transition: box-shadow .3s .3s,transform .3s ,background-color .3s,-webkit-box-shadow .3s .3s,-webkit-transform .3s;
}

.header .hb .sr-only:after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: background-color .3s ,-webkit-transform .3s;
  transition: background-color .3s ,-webkit-transform .3s;
  transition: transform .3s ,background-color .3s;
  transition: transform .3s ,background-color .3s ,-webkit-transform .3s;
}

@media (max-width: 767px) {
  .header .hb {
    display: block;
    padding-right: 15px;
    cursor: pointer;
  }
}

.hb-full {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #0008;
  opacity: 0;
  z-index: 5;
}

.main-nav {
  padding: 0 15px;
}

.main-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: inherit;
  font-weight: 600;
  color: #eee;
}

.main-nav a[data-info="contact"], .main-nav a[data-info="works"] {
  display: none;
}

@media (max-width: 767px) {
  .main-nav a[data-info="contact"], .main-nav a[data-info="works"] {
    display: block;
  }
}

@media (max-width: 767px) {
  .main-nav a {
    font-size: 0.9rem;
    color: #eee;
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    left: 0;
    top: -50vh;
    width: 100%;
    height: 50vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: calc(25vh - 37.6px);
    background-color: #0c0c0c;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
}

#menu-check {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  #menu-check:checked ~ .header .sr-only:before {
    -webkit-box-shadow: 0 12px 0 transparent;
            box-shadow: 0 12px 0 transparent;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
    background-color: #eee;
    -webkit-transition: background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
    transition: background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
    transition: box-shadow .3s,transform .3s .3s,background-color .3s .3s;
    transition: box-shadow .3s,transform .3s .3s,background-color .3s .3s,-webkit-box-shadow .3s,-webkit-transform .3s .3s;
  }
  #menu-check:checked ~ .header .sr-only:after {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    background-color: #eee;
    -webkit-transition: background-color .3s .3s,-webkit-transform .3s .3s;
    transition: background-color .3s .3s,-webkit-transform .3s .3s;
    transition: transform .3s .3s,background-color .3s .3s;
    transition: transform .3s .3s,background-color .3s .3s,-webkit-transform .3s .3s;
  }
  #menu-check:checked ~ .hb-full {
    opacity: 1;
    top: 0;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s;
  }
  #menu-check:checked ~ .header .main-nav {
    top: 0;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#toTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 11;
  width: 64px;
  height: 64px;
  text-decoration: none;
  background-color: #FF6464;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

#toTop div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toTop .fa-solid {
  font-size: 1.4rem;
  color: #fff;
}

.banner-block,
.biography-block,
.experience-block,
.education-block,
.skill-block,
.slogan-block,
.profile-block,
.works-block,
.footer-block,
.breadcrumb-block,
.article-block,
.contact-block,
.next-block {
  padding: 0 15px;
}

.profile-title,
.works-title,
.bio-title,
.exper-title,
.educate-title,
.skill-title {
  margin-bottom: 20px;
}

.profile-title h2,
.works-title h2,
.bio-title h2,
.exper-title h2,
.educate-title h2,
.skill-title h2 {
  background-color: #FFE162;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  position: relative;
}

.profile-title h2:after,
.works-title h2:after,
.bio-title h2:after,
.exper-title h2:after,
.educate-title h2:after,
.skill-title h2:after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0.5px;
  width: 100px;
  height: 3px;
  background-color: #FFE162;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

@media (min-width: 768px) {
  .profile-title h2,
  .works-title h2,
  .bio-title h2,
  .exper-title h2,
  .educate-title h2,
  .skill-title h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .profile-title h2,
  .works-title h2,
  .bio-title h2,
  .exper-title h2,
  .educate-title h2,
  .skill-title h2 {
    font-size: 3.2rem;
  }
}

.category-tag {
  font-style: italic;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  background-color: #FFE162;
  color: #2F2C2A;
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  margin-right: 4px;
  margin-bottom: 4px;
}

.category-tag:before {
  content: '#';
}

.breadcrumb-block {
  padding-bottom: 30px;
}

.breadcrumb-block ol {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-block li {
  padding: 0 0.5rem;
}

.breadcrumb-block li + li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-block li + li:before {
  content: '>';
  padding-right: 0.5rem;
}

.breadcrumb-block a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: #2F2C2A;
}

.breadcrumb-block a:hover {
  color: #FF6464;
}

.breadcrumb-block a[aria-disabled="true"] {
  cursor: auto;
  pointer-events: none;
  font-weight: 600;
}

.footer {
  background-color: #e0eaee;
  padding: 20px 0;
}

@media (min-width: 1200px) {
  .footer .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #2F2C2A;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
}

.footer a[data-info="e-mail"] {
  font-size: 4rem;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.footer a:hover, .footer a:focus {
  color: #FF6464;
}

.footer .siteMap-nav {
  padding-bottom: 40px;
}

.footer .siteMap-nav > ul {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer .siteMap-nav > ul > li {
  font-size: 1rem;
  position: relative;
}

.footer .siteMap-nav > ul > li:before, .footer .siteMap-nav > ul > li:after {
  content: '';
  width: calc((100% - 100px) / 2);
  height: 2px;
  background-color: #91C483;
  border-radius: 7px;
  position: absolute;
  right: 0;
  top: 12px;
}

@media (min-width: 768px) {
  .footer .siteMap-nav > ul > li:before, .footer .siteMap-nav > ul > li:after {
    width: calc(100% - 130px);
    right: 0.5rem;
  }
}

.footer .siteMap-nav > ul > li:after {
  left: 0;
}

@media (min-width: 768px) {
  .footer .siteMap-nav > ul > li:after {
    width: 20px;
    left: 0.5rem;
  }
}

.footer .siteMap-nav > ul > li + li {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .footer .siteMap-nav > ul > li + li {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .footer .siteMap-nav > ul > li {
    width: 50%;
    padding: 0 0.5rem 0 2.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .footer .siteMap-nav > ul > li {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .footer .siteMap-nav > ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: initial;
  }
}

@media (min-width: 1200px) {
  .footer .siteMap-nav > ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer .siteMap-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.footer .sub-nav {
  padding-top: 1rem;
}

.footer .sub-nav a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .sub-nav a > [class*="fa-"] {
  padding-right: 0.5rem;
}

@media (min-width: 1200px) {
  .footer .sub-nav a {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer .footer-logo {
  width: 84px;
  margin: 0 auto 24px;
}

@media (min-width: 1200px) {
  .footer .footer-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 84px;
            flex: 0 0 84px;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer p {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
}

@media (min-width: 1200px) {
  .footer p {
    width: 100%;
  }
}

[class*="section-"] {
  padding: 20px 0;
}

@media (min-width: 768px) {
  [class*="section-"] {
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  [class*="section-"] {
    padding: 60px 0;
  }
}

.section-slogan {
  background: #fff url(../assets/banner.jpg) no-repeat right center/100%;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .section-slogan {
    padding: 100px 0;
  }
}

@media (min-width: 1200px) {
  .section-slogan {
    padding: 140px 0;
  }
}

.slogan-block blockquote {
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 0;
}

.slogan-block blockquote span {
  display: block;
  line-height: 1.5;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: 600;
  background-color: #eee;
  color: #FF6464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slogan-block blockquote span:last-child {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .slogan-block blockquote span:last-child {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .slogan-block blockquote span:last-child {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .slogan-block blockquote {
    font-size: 2.6rem;
    padding-left: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .slogan-block blockquote {
    font-size: 3.6rem;
    padding-left: 2.5rem;
  }
}

.section-profile {
  background: linear-gradient(150deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);
}

@media (min-width: 768px) {
  .section-profile {
    background: linear-gradient(160deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);
  }
}

@media (min-width: 768px) {
  .profile-block .profile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.profile-block .profile-txt {
  margin-bottom: 40px;
}

.profile-block .profile-txt h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .profile-block .profile-txt h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .profile-block .profile-txt h3 {
    font-size: 1.8rem;
  }
}

.profile-block .profile-txt p {
  color: #000;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .profile-block .profile-txt p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .profile-block .profile-txt p {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

@media (min-width: 768px) {
  .profile-block .profile-txt {
    width: 50%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.profile-block .profile-img {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 1.2rem;
  overflow: hidden;
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .profile-block .profile-img {
    width: 45%;
    margin-bottom: 0;
  }
}

.profile-block .profile-link {
  text-align: center;
}

@media (min-width: 768px) {
  .profile-block .profile-link {
    position: absolute;
    bottom: 15%;
    left: 0;
  }
}

.section-works {
  overflow: hidden;
  position: relative;
}

.section-works:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(170deg, #eee 50%, transparent 50.2%);
}

@media (min-width: 768px) {
  .section-works:before {
    height: 450px;
  }
}

.section-works .container {
  position: relative;
  z-index: 1;
}

.works-category {
  margin-bottom: 20px;
}

.works-category .tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-category .tabs li {
  font-size: 1.1rem;
  color: #666;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 20px;
  padding: 4px;
}

.works-category .tabs li:not(.active) {
  position: relative;
  color: #000;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.works-category .tabs li:not(.active):before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-transform: scaleX(0) skewX(0deg);
          transform: scaleX(0) skewX(0deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background-color: #FF6464;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: -1;
}

.works-category .tabs li:not(.active):hover {
  color: #eee;
}

.works-category .tabs li:not(.active):hover:before {
  -webkit-transform: scaleX(1) skewX(-7deg);
          transform: scaleX(1) skewX(-7deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.works-category .tabs li.active {
  color: #eee;
  background-color: #FF6464;
  font-style: normal;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
}

@media (max-width: 767px) {
  .works-category .tabs li {
    margin: 0 8px;
  }
}

@media (min-width: 768px) {
  .works-category .tabs li {
    font-size: 1.4rem;
  }
}

.work-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .work-group li {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .work-group li {
    width: 33.3%;
  }
}

.work-group .work-content {
  position: relative;
  z-index: 1;
}

.work-group .work-item {
  text-decoration: none;
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.work-group .work-item .work-txt {
  position: relative;
  padding-bottom: 0.875rem;
  margin-bottom: 0.25rem;
}

.work-group .work-item .work-txt h3 {
  color: #2F2C2A;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: start;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-top: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .work-group .work-item .work-txt h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .work-group .work-item .work-txt h3 {
    font-size: 1.6rem;
  }
}

.work-group .work-item .work-txt h3 + span {
  position: absolute;
  top: 0;
  left: 0;
  color: #2F2C2A;
  font-size: 0.9rem;
  padding-left: 2rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px 10px;
  font-style: italic;
  opacity: 0.85;
  border: 1px solid #2F2C2A;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.work-group .work-item .work-txt p {
  color: #2F2C2A;
  font-size: 0.9rem;
  letter-spacing: .1em;
  line-height: 1.4;
  margin-bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .work-group .work-item .work-txt p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .work-group .work-item .work-txt p {
    font-size: 1.25rem;
  }
}

.work-group .work-item .work-txt:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5553;
  left: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .work-group .work-item .work-txt {
    margin-bottom: 0.5rem;
  }
}

.work-group .work-item:hover .work-img img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.work-group .work-item:hover h3, .work-group .work-item:hover p {
  color: #FF6464;
}

.work-group .work-item:hover h3 + span {
  color: #FF6464;
  border-color: #FF6464;
}

.work-group .work-img {
  margin-bottom: 12px;
  width: 100%;
  height: 0;
  padding-bottom: 56.4%;
  position: relative;
  overflow: hidden;
}

.work-group .work-img img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .work-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work-link {
  padding: 20px 0;
  text-align: center;
}

.section-banner {
  background: #fff url(../assets/banner_pure.jpg) no-repeat left top/100%;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-content blockquote {
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 0;
  padding: 20px 0;
}

.banner-content blockquote span {
  display: block;
  line-height: 1.5;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: 600;
  background-color: #eee;
  color: #FF6464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.banner-content blockquote span:last-child {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .banner-content blockquote span:last-child {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .banner-content blockquote span:last-child {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .banner-content blockquote {
    font-size: 2.6rem;
    padding-left: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .banner-content blockquote {
    font-size: 3.6rem;
    padding-left: 2.5rem;
  }
}

.banner-content .banner-txt {
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .banner-content .banner-txt {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .banner-content .banner-txt {
    margin-top: 80px;
  }
}

.banner-content .banner-img {
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-top: -140px;
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .banner-content .banner-img {
    width: 45%;
    margin-top: -260px;
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .banner-content .banner-img {
    width: 35%;
    margin-right: 60px;
    margin-top: -300px;
  }
}

.bio-content .bio-img {
  padding: 0 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .bio-content .bio-img {
    width: 360px;
    padding: 0 40px;
    float: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .bio-content .bio-img {
    width: 500px;
  }
}

.bio-content .bio-txt p {
  letter-spacing: .1em;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .bio-content .bio-txt p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

@media (min-width: 1200px) {
  .bio-content .bio-txt p {
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

@media (min-width: 768px) {
  .bio-content .bio-txt {
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .bio-content .bio-txt {
    padding: 0 40px;
  }
}

.bio-content > div:last-child .bio-img {
  display: none;
}

@media (min-width: 768px) {
  .bio-content > div:last-child .bio-img {
    display: block;
    float: right;
  }
}

@media (min-width: 768px) {
  .bio-content > div {
    overflow: hidden;
  }
}

.bio-content .bio-link {
  text-align: center;
}

.timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.timeline-content .container-info {
  width: 100%;
}

.timeline-content .container-info .timeline-section {
  padding-left: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .timeline-content .container-info .timeline-section:nth-child(even) .timeline-box {
    margin-left: auto;
  }
  .timeline-content .container-info .timeline-section:nth-child(odd) .timeline-arrow {
    left: initial;
    right: -15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.timeline-content .container-info .timeline-box {
  padding: 12px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
}

.timeline-content .container-info .timeline-box h3 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 800;
}

.timeline-content .container-info .timeline-box h3 + p {
  color: #666;
  font-weight: 600;
}

.timeline-content .container-info .timeline-box h3 + p span {
  padding-left: 8px;
  font-style: italic;
  font-size: 0.9rem;
}

.timeline-content .container-info .timeline-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-content .container-info .timeline-box ul li {
  padding-left: 1em;
  letter-spacing: .1em;
}

.timeline-content .container-info .timeline-box ul li:before {
  content: '-';
  padding: 0 4px;
  font-weight: 600;
}

.timeline-content .container-info .timeline-box .timeline-arrow {
  position: absolute;
  top: 50px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eee transparent transparent;
}

@media (min-width: 768px) {
  .timeline-content .container-info .timeline-box {
    width: 46%;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .timeline-content .container-info .timeline-box {
    padding: 20px;
  }
}

.timeline-content .container-time-line {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 0 5px;
}

.timeline-content .container-time-line .time-line-bar {
  width: 10px;
  height: 100%;
  border-radius: 15px;
  background-color: #aaa;
}

@media (min-width: 768px) {
  .timeline-content .container-time-line {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
  }
}

.timeline-content .container-bullet {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.timeline-content .container-bullet .timeline-section {
  width: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.timeline-content .container-bullet .timeline-section .time-bullet {
  width: 100%;
  height: 20px;
  background-color: #666;
  border-radius: 50%;
  margin-top: 55px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04), 0px 0px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04), 0px 0px 80px rgba(0, 0, 0, 0.08);
}

.timeline-content .container-bullet .timeline-section:nth-child(2) .time-bullet {
  margin-top: 60px;
}

.timeline-content .container-bullet .timeline-section:nth-child(3) .time-bullet {
  margin-top: 20px;
}

.timeline-content .container-bullet .timeline-section:last-child .time-bullet {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .timeline-content .container-bullet .timeline-section:last-child .time-bullet {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  .timeline-content .container-bullet {
    left: 50%;
  }
}

.skill-txt ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-txt ul > li {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skill-txt ul > li + li {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .skill-txt ul > li + li {
    margin-top: initial;
  }
}

.skill-txt ul > li > ul {
  list-style: inside disc;
  display: inline-block;
}

.skill-txt ul > li > ul li {
  margin-top: 0;
  line-height: 1.5;
  width: 100%;
}

.skill-txt ul > li > ul li:nth-child(-n+2) {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .skill-txt ul > li {
    width: 50%;
  }
  .skill-txt ul > li:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul > li {
    width: 25%;
  }
  .skill-txt ul > li:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

.skill-txt ul span {
  font-size: 4rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 24px;
  border-radius: 50%;
  background-color: #eee;
  margin: 0 auto 1rem;
}

.skill-txt ul span .fa-solid {
  aspect-ratio: 1/1;
  width: 80px;
  text-align: center;
  color: #ccc;
}

@media (min-width: 768px) {
  .skill-txt ul span .fa-solid {
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul span .fa-solid {
    width: 44px;
  }
}

@media (min-width: 768px) {
  .skill-txt ul span {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .skill-txt ul span {
    font-size: 2.2rem;
  }
}

.skill-txt ul h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto 12px;
  padding-bottom: 12px;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill-txt ul h3:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #91C483;
}

.skill-txt ul p {
  font-size: 1rem;
  letter-spacing: .1em;
}

@media (min-width: 768px) {
  .skill-txt ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact-card,
.next-card {
  background-image: linear-gradient(315deg, #FFE162 50%, transparent 50.2%), url(../assets/background_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 6 /4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-card a,
.next-card a {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #2F2C2A;
  color: #eee;
  padding: 0.5rem 1rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.contact-card a:hover, .contact-card a:focus,
.next-card a:hover,
.next-card a:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.3px 3.6px -2px rgba(0, 0, 0, 0.04), 0px 20px 15px -2px rgba(0, 0, 0, 0.04), 0px 30px 30px -4px rgba(0, 0, 0, 0.05), 0px 36px 60px -8px rgba(0, 0, 0, 0.08);
}

.contact-card a span,
.next-card a span {
  display: block;
  font-size: 1rem;
  letter-spacing: .1em;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-card,
  .next-card {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contact-card,
  .next-card {
    max-width: 600px;
    aspect-ratio: 16 /9;
  }
}

.article-banner {
  margin-bottom: 40px;
  margin-left: -15px;
  margin-right: -15px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

@media (min-width: 768px) {
  .article-banner {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }
}

.article-content {
  max-width: 800px;
  margin: auto;
}

.article-content .category-tag {
  margin-bottom: 40px;
}

.article-content h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.article-content .sub-title {
  margin-bottom: 0;
  font-weight: 600;
}

.article-content .date {
  padding: 1rem 0;
  display: inline-block;
}

.article-content .article-txt p {
  letter-spacing: .1em;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.article-content .article-txt dl {
  margin-bottom: 0;
  margin-top: 0;
}

.article-content .article-txt dl + dl {
  margin-top: 1rem;
}

.article-content .article-txt dt {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: .5rem;
}

.article-content .article-txt dd {
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
}

.article-content .article-txt dd a {
  color: #2F2C2A;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.article-content .article-txt dd a:hover, .article-content .article-txt dd a:focus {
  color: #FF6464;
}

.article-content .article-txt .works-info {
  padding: 0.8rem;
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 20px;
}

section.section-gallery {
  padding-top: 0;
}

section.section-gallery .main-banner,
section.section-gallery .sub-img {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section.section-gallery .main-banner,
  section.section-gallery .sub-img {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  section.section-gallery .main-banner,
  section.section-gallery .sub-img {
    margin-bottom: 40px;
  }
}

.works-swiper,
.multiMain-swiper,
.multiSub-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.works-swiper .swiper-slide,
.multiMain-swiper .swiper-slide,
.multiSub-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.works-swiper .swiper-button-next,
.works-swiper .swiper-button-prev,
.multiMain-swiper .swiper-button-next,
.multiMain-swiper .swiper-button-prev,
.multiSub-swiper .swiper-button-next,
.multiSub-swiper .swiper-button-prev {
  color: #FF6464;
}

.works-swiper .swiper-pagination-fraction,
.works-swiper .swiper-pagination-bullet-active,
.multiMain-swiper .swiper-pagination-fraction,
.multiMain-swiper .swiper-pagination-bullet-active,
.multiSub-swiper .swiper-pagination-fraction,
.multiSub-swiper .swiper-pagination-bullet-active {
  color: #FFE162;
}
/*# sourceMappingURL=all.css.map */