@import "functions";
@import "helpers/variables";
@import "mixins";

@import "vendor/rfs";
@import "root";
@import "reboot";

//RWD variables

@mixin mobile {
    @media (max-width:767px) {
        @content;
    }
}

@mixin ipad {
    @media (min-width:768px) {
        @content;
    }
}

@mixin web {
    @media (min-width:1200px) {
        @content;
    }
}

// pages setting

@import "pages/format/format";
@import "pages/index/index";
@import "pages/about/about";
@import "pages/works/works";

