//banner section
.section-banner{
    background: #fff url(../assets/banner_pure.jpg) no-repeat left top / 100%;
}
.banner-content{
    display: flex;
    flex-wrap: wrap;

    blockquote{
        font-size: 1.4rem;
        transition: .2s;
        margin-bottom: 0;
        padding: 20px 0;

        span{
            display: block;
            line-height: 1.5;
            padding: 4px;
            margin-bottom: 8px;
            font-weight: 600;
            background-color: #eee;
            color: #FF6464;
            width: fit-content;
            &:last-child{
                margin-left: 1rem;

                @include ipad{
                    margin-left: 1.5rem;
                }

                @include web{
                    margin-left: 3rem;
                }
            }
        }

        @include ipad{
            font-size: 2.6rem;
            padding-left: 1.875rem;
        }

        @include web{
            font-size: 3.6rem;
            padding-left: 2.5rem;
        }
    }

    .banner-txt{
        width: 100%;
        position: relative;
        z-index: 1;

        @include ipad{
            margin-top: 60px;
        }

        @include web{
            margin-top: 80px;
        }
    }

    .banner-img{
        width: 50%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        margin-left: auto;
        margin-top: -140px;
        transform: skewX(-2deg);
        box-shadow:
            0px 1.3px 3.6px -2px rgba(0 ,0  ,0 , 0.04), 0px 20px 15px -2px rgba(0 ,0  ,0 , 0.04), 0px 30px 30px -4px rgba(0 ,0  ,0 , 0.05), 0px 36px 60px -8px rgba(0 ,0  ,0 , 0.08)
            ;

        @include ipad{
            width: 45%;
            margin-top: -260px;
            margin-right: 40px;
        }

        @include web{
            width: 35%;
            margin-right: 60px;
            margin-top: -300px;
        }
    }
}

//section-biography
.bio-content{

    div:nth-child(2){
        .bio-img{
            @include ipad{
                float: right;
            }
        }
    }

    .bio-img{
        padding: 0 20px;
        margin-bottom: 20px;

        @include ipad{
            width: 360px;
            padding: 0 40px;
            float: left;
            margin-bottom: 0;
        }
        @include web{
            width: 500px;
        }
    }

    .bio-txt{
        p{
            letter-spacing: .1em;
            line-height: 1.3;
            margin-bottom: 1.2rem;

            @include ipad{
                font-size: 1.125rem;
                line-height: 1.4;
            }

            @include web{
                font-size: 1.375rem;
                line-height: 1.8;
            }
        }

        @include ipad{
           padding: 0 20px;
        }

        @include web{
            padding: 0 40px;
        }
    }

    &>div{
        &:last-child{
            .bio-img{
                display: none;

                @include ipad{
                    display: block;
                    float: right;
                }
            }
        }

        @include ipad{
            overflow: hidden;
        }
    }

    .bio-link {
        text-align: center;
    }

}

//experience section
.exper-txt {
    @include ipad {
        display: flex;
        justify-content: space-between;
    }
}

.container-avatar {
    .avatar-group {
        width: 100%;

    }

    @include ipad {
        width: calc(40% - 30px);
    }

    ul{
        padding: 0;
        margin: 0;
    }

    li{
        list-style: none;
    }

    .sprite {
        width: 100%;
        aspect-ratio: 33/26;
        background-image: url(../../../assets/sprite-01.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        animation: sprite 0.8s steps(4) infinite normal forwards;
        &:nth-child(3){
            aspect-ratio: 15/13;
            background-image: url(../../../assets/sprite-03.png);
            animation-timing-function: steps(5);
        }
        &:nth-child(4){
            aspect-ratio: 350/262;
            background-image: url(../../../assets/sprite-02.png);
        }
        &:nth-child(5){
            aspect-ratio: 340/260;
            background-image: url(../../../assets/sprite-04.png);
            animation-timing-function: steps(5);
        }
    }
}

@keyframes sprite {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100%;
    }
}

.timeline-content{
    position: relative;
    width: 100%;

    @include ipad {
        width: 60%;
    }

    .container-info{
        width: 100%;
        padding-top: 1rem;
        
        >ul {
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }

        .timeline-section{
            margin-bottom: 24px;
        }

        .timeline-box{
            padding: 1.5rem 1.225rem;
            background-color: #eee;
            box-sizing: border-box;
            border-radius: 20px;
            position: relative;

            h3{
                font-size: 1.375rem;
                margin-bottom: 0.5rem;
                font-weight: 800;
                &+p{
                    color: #666;
                    font-weight: 600;

                    span{
                        padding-left: 8px;
                        font-style: italic;
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #58784f;
                    }
                }
                @include ipad {
                    font-size: 1.5rem;
                }

            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    padding-left: 1em;
                    letter-spacing: .1em;
                    &:before{
                        content: '-';
                        padding: 0 4px;
                        font-weight: 600;
                    }
                }
            }

            .timeline-arrow{
                position: absolute;
                top: -14px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 15px 15px 15px ;
                border-color: transparent transparent #eee transparent ;
            }

            @include ipad{
                width: 80%;
                margin: 0 auto;
            }

            @include web{
                // padding: 20px;
            }
        }

    }

    .container-time-line{
        padding: 1rem 0;
        position: relative;

        .time-line-bar{
            width: 100%;
            height: 10px;
            border-radius: 15px;
            background-color: #aaa;

            @include ipad {
                width: 80%;
                margin: 0 auto;
            }
        }

        .time-bullet{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 20px;
            height: 20px;
            aspect-ratio: 1/1;
            background-color: #666;
            border-radius: 50%;
            box-shadow:
                0px 0px 10px rgba(0, 0, 0, 0.04),
                0px 0px 80px rgba(0, 0, 0, 0.08)
                ;
        }

    }

    .container-year {
        padding: 0.5rem 0;

        [class^="swiper-button"]::after{
            font-family:'Material Icons';
            color: #58784f;
        }

        .swiper-button-prev::after {
            content:'\eac3';
        }

        .swiper-button-next::after {
            content:'\eac9';
        }

        @include ipad {
            width: 80%;
            margin: 0 auto;
        }
    }

    .year-group{
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }

        .year-tags {
            display: block;
            padding: 4px 1rem;
            font-size: 1.875rem;
            background-color: #FFE162;
            color: #2F2C2A;
            letter-spacing: 0.01em;
            border-radius: 87px;
            width: fit-content;
            margin: 0 auto;
            text-transform: uppercase;
        }
    }

}

//section-skill

.skill-txt{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        &>li{
            padding: 0 15px;
            box-sizing: border-box;

            &+li{
                margin-top: 20px;

                @include ipad{
                    margin-top: initial;
                }
            }

            &>ul{
                list-style: inside disc ;
                display: inline-block;

                li{
                    margin-top: 0;
                    line-height: 1.5;
                    width: 100%;

                    &:nth-child(-n+2){
                        margin-bottom: 0;
                    }
                }
            }

            @include ipad{
                width: 50%;

                &:nth-child(-n+2){
                    margin-bottom: 30px;
                }
            }

            @include web{
                width: 25%;

                &:nth-child(-n+2){
                    margin-bottom: 0;
                }
            }
        }

        span{
            font-size: 4rem;
            display: block;
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 150px;
            padding: 20px;
            border-radius: 50%;
            background-color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 1rem;

            .fa-solid{
                text-align: center;
                color: #ccc;
                font-size: inherit;
            }

            @include ipad{
                font-size: 5rem;
            }
        }

        h3{
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0 auto 12px ;
            padding-bottom: 12px;
            text-align: center;
            position: relative;
            width: fit-content;
            &:before{
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 5px;
                background-color: #91C483;
            }
        }

        p{
            font-size: 1rem;
            letter-spacing: .1em;
            
        }

        @include ipad{
            display: flex;
            flex-wrap: wrap;
        }
    }
    
}

//section-contact and section next work 

.contact-card,
.next-card {
    background-image: linear-gradient(315deg , #FFE162 50% , transparent 50.2%) ,url(../assets/background_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 6 /4 ;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        font-size: 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #2F2C2A;
        color: #eee;
        padding: 0.5rem 1rem;
        display: block;
        width: fit-content;
        margin: auto;
        transition: .2s ease-out;

        &:hover,
        &:focus{
            transform: scale(1.05);
            box-shadow:
            0px 1.3px 3.6px -2px rgba(0 ,0  ,0 , 0.04), 0px 20px 15px -2px rgba(0 ,0  ,0 , 0.04), 0px 30px 30px -4px rgba(0 ,0  ,0 , 0.05), 0px 36px 60px -8px rgba(0 ,0  ,0 , 0.08)
            ;
        }
        span {
          display: block;
          font-size: 1rem;
          letter-spacing: .1em;
          text-align: center;
        }
    }

    @include ipad{
        max-width: 500px;
        margin: 0 auto;
    }

    @include web{
        max-width: 600px;
        aspect-ratio: 16 /9 ;
    }
}

