[class*="section-"]{
    padding: 20px 0;

    @include ipad{
        padding: 40px 0;
    }

    @include web{
        padding: 60px 0;
    }
}

//solgan section
.section-slogan{
    background: #fff url(../assets/banner.jpg) no-repeat right center / 100%;
    padding: 60px 0;

    @include ipad{
        padding: 100px 0;
    }

    @include web{
        padding: 140px 0;
    }
}
.slogan-block{
    
    blockquote{
        font-size: 1.4rem;
        transition: .2s;
        margin-bottom: 0;

        span{
            display: block;
            line-height: 1.5;
            padding: 4px;
            margin-bottom: 8px;
            font-weight: 600;
            background-color: #eee;
            color: #FF6464;
            width: fit-content;
            &:last-child{
                margin-left: 1rem;

                @include ipad{
                    margin-left: 1.5rem;
                }

                @include web{
                    margin-left: 3rem;
                }
            }
        }

        @include ipad{
            font-size: 2.6rem;
            padding-left: 1.875rem;
        }

        @include web{
            font-size: 3.6rem;
            padding-left: 2.5rem;
        }
    }
}

//section-profile

.section-profile{
    background: linear-gradient(150deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);

    @include ipad{
        background: linear-gradient(160deg, #eee 15%, #fff 15.2%, #fff 50%, #eee 50.2%);

    }
}

.profile-block{

    .profile-content{
        @include ipad{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
        }
    }

    .profile-txt{
        margin-bottom: 40px;

        h3{
            font-size: 1.4rem;
            line-height: 1.5;
            margin-bottom: 30px;
            font-weight: bold;

            @include ipad{
                font-size: 1.6rem;
            }

            @include web{
                font-size: 1.8rem;
            }
        }

        p{
            color: #000;
            line-height: 1.8;

            @include ipad{
                font-size: 1.2rem;
            }

            @include web{
                font-size: 1.4rem;
            }
        }

        @include ipad{
            width: 50%;
            padding-right: 20px;
            box-sizing: border-box;
        }
    }
    .profile-img{
        aspect-ratio: 1/1;
        overflow: hidden;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 1.2rem;
        overflow: hidden;
        transform: skewX(-2deg);
        box-shadow:
            0px 1.3px 3.6px -2px rgba(0 ,0  ,0 , 0.04), 0px 20px 15px -2px rgba(0 ,0  ,0 , 0.04), 0px 30px 30px -4px rgba(0 ,0  ,0 , 0.05), 0px 36px 60px -8px rgba(0 ,0  ,0 , 0.08)
            ;


        @include ipad{
            width: 45%;
            margin-bottom: 0;
        }
    }

    .profile-link{
        text-align: center;

        @include ipad{
            position: absolute;
            bottom: 15%;
            left: 0;
        }
    }
}

//section-works

.section-works{
    overflow: hidden;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(170deg, #eee 50%, transparent 50.2%);

        @include ipad{
            height: 450px;
        }
    }

    .container{
        position: relative;
        z-index: 1;
    }
}

.works-category{

    margin-bottom: 20px;

    .tabs{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li{
            font-size: 1.1rem;
            color: #666;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            font-style: italic;
            margin: 0 20px;
            padding: 4px;

            &:not(.active){
                position: relative;
                color: #000;
                transition: color .3s;

                &:before{
                    content: '';
                    position: absolute;
                    inset: 0;
                    transform: scaleX(0) skewX(0deg);
                    transform-origin:bottom right;
                    background-color: #FF6464;
                    transition:transform .3s ease;
                    z-index: -1;
                }

                &:hover{
                    color: #eee;

                    &:before{
                        transform:scaleX(1) skewX(-7deg);
                        transform-origin:bottom left;
                    }
                }
            }

            &.active{
                color: #eee;
                background-color: #FF6464;
                font-style: normal;
                transform: skewX(-7deg);
            }

            @include mobile{
                margin: 0 8px;
            }

            @include ipad{
                font-size: 1.4rem;
            }
        }

    }
}

.work-group{
    list-style: none;
    padding: 0;
    margin: 0;

    li{

        @include ipad{
            width: 50%;
        }

        @include web{
            width: 33.3%;
        }

    }

    .work-content{
        position: relative;
        z-index: 1;
    }

    .work-item{
        text-decoration: none;
        display: block;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        overflow: hidden;

        .category-tag{
            margin: auto;
        }

        .work-txt{
            padding-top: 30px;

            h3{
                color: #2F2C2A;
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 600;
                width: fit-content;
                margin: 0 auto 1rem;
                padding-bottom: 0.5rem;
                position: relative;

                &:before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 5px;
                    background-color: #91C483;
                }

                @include ipad{
                    font-size: 1.4rem;
                }

                @include web{
                    font-size: 1.6rem;
                }
            }

            .work-item-descr{
                display: flex;
                justify-content: center;
            }

            p{
                color: #2F2C2A;
                font-size: 0.9rem;
                letter-spacing: .1em;
                line-height:1.4;
                margin-bottom: 0;

                &+span{
                    color: #2F2C2A;
                    font-size: 0.9rem;
                    padding-left: 2rem;
                    width: fit-content;
                    font-style: italic;
                    display: flex;
                    align-items: center;

                    &:before{
                        content: '';
                        width: 30px;
                        height: 1px;
                        background-color: #2F2C2A;
                        margin-right: 1.5rem;
                    }
                }

                @include ipad{
                    font-size: 1.1rem;
                }

                @include web{
                    font-size: 1.25rem;
                }
            }

        }

        &:hover{
            .work-img{
                transform: scale(0.95);
                transition: .2s;
            }
        }
    }

    .work-img{
        margin-bottom: 20px;
        transition: .3s;
    }

    @include ipad{
        display: flex;
        flex-wrap: wrap;
    }
}

.work-link{
    padding: 20px 0;
    text-align: center;

}
