//global setting
body{
    color: #2F2C2A;
}

img{
    width: 100%;
    display: block;
}

.more-btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #2F2C2A;
    color: #eee;
    text-transform: capitalize;
    text-decoration: none;
    &:hover{
        color: #fff;
    }
}
//h1

.web-logo{
    width: 60px;
}

//header

.header{
    display: flex;
    align-items: center;
    padding: .5rem 0;
    background-color: #3C4856;
    box-shadow:
        0px 0.8px 3.6px rgba(0, 0, 0, 0.07),
        0px 15.1px 10px rgba(0, 0, 0, 0.088),
        0px 36.1px 24.1px rgba(0, 0, 0, 0.107),
        0px 47px 80px rgba(0, 0, 0, 0.16)
        ;


    h1{
        margin-bottom: 0;
        margin-right: auto;
        margin-left: 15px;

        @include mobile{
            position: relative;
            z-index: 2;
        }
    }

    .hb{
        display: none;

        .sr-only{
            position: relative;
            display: block;
            width: 36px;
            height: 36px;
            z-index: 2;

            &:before,&:after{
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 2px);
                height: 4px;
                width: 100%;
                border-radius: 5px;
                background-color: #eee;
                margin: auto;
            }

            &:before{
                transform: translateY(-12px);
                box-shadow: 0 12px 0 #eee;
                transition: box-shadow .3s .3s,transform .3s ,background-color .3s;
            }

            &:after{
                transform: translateY(12px);
                transition: transform .3s ,background-color .3s;
            }
        }

        @include mobile{
            display: block;
            padding-right: 15px;
            cursor: pointer;
        }
    }

    @include mobile{
        position: relative;
        z-index: 2;
    }
}

.hb-full{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #0008;
    opacity: 0;
    z-index: 1;
}

.main-nav {
    padding: 0 15px;

    a{
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1.2rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: inherit;
        font-weight: 600;
        color: #eee;

        &[data-info="contact"]{
            display: none;

            @include mobile{
                display: block;
            }
        }

        @include mobile{
            font-size: 0.9rem;
            color: #eee;
            display: block;
            text-align: center;
        }
    }

    @include mobile{
        position: absolute;
        left: 0;
        top: -50vh;
        width: 100%;
        height: 50vh;
        box-sizing: border-box;
        padding-top: calc(25vh - 37.6px);
        background-color: rgb(12, 12, 12);
        transition:top .5s;
    }
}

#menu-check{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    @include mobile{
        &:checked ~ .header .sr-only:before {
            box-shadow: 0 12px 0 transparent;
            transform: translateY(0) rotate(45deg);
            background-color:#eee;
            transition: box-shadow .3s,transform .3s .3s,background-color .3s .3s;
        }

        &:checked ~ .header .sr-only:after{
            transform: translateY(0) rotate(-45deg);
            background-color:#eee;
            transition: transform .3s .3s,background-color .3s .3s;
        }

        &:checked ~ .hb-full{
            opacity: 1;
            top: 0;
            transition: opacity .3s .5s;
        }

        &:checked ~ .header .main-nav{
            top: 0;
            transition:top .5s;
        }
    }
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

//component setting

.banner-block,
.biography-block,
.experience-block,
.education-block,
.skill-block,
.slogan-block,
.profile-block,
.works-block,
.footer-block{
    padding: 0 15px;
}

.profile-title,
.works-title,
.bio-title,
.exper-title,
.educate-title,
.skill-title{
    margin-bottom: 20px;

    h2{
        background-color: #FFE162;
        width: fit-content;
        padding: 4px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        transform: skewX(-15deg);
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 100%;
            bottom: 0.5px;
            width: 100px;
            height: 3px;
            background-color: #FFE162;
            transform: skewX(-15deg);
        }

        @include ipad{
            font-size: 2.4rem;
        }

        @include web{
            font-size: 3.2rem;
        }
    }
}

//section footer

.footer{
    background-color: #FFE162;
    padding: 20px 0;

    ul{
        list-style: none;
        padding: 0;
        border-top: 1px solid #eee;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        a{
            padding: 1rem 0.5rem;
            font-size: 1.5rem;
        }
    }

    a{
        text-decoration: none;
        color: #2F2C2A;
        transition: .3s;
        display: block;

        &[data-info="e-mail"]{
            font-size: 4rem;
            text-transform: uppercase;
            width: fit-content;
            margin: auto;
        }

        &:hover{
            color: #FF6464;
        }
    }

}