//section works
.article-banner{
    margin-bottom: 40px;
    margin-left: -15px;
    margin-right: -15px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    transition: 1s ease-out;

    @include ipad{
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
}

.article-content{
    max-width: 800px;
    margin: auto;

    .category-tag{
        margin-bottom: 40px;
    }

    h1{
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .sub-title{
        margin-bottom: 0;
        font-weight: 600;
    }

    .date{
        padding: 1rem 0;
        display: inline-block;
    }

    .article-txt{
        p{
            letter-spacing: .1em;
            line-height: 1.4;
            margin-bottom: 1.2rem;
        }

        dl{
            margin-bottom: 0;
            &+dl{
                margin-top: 1rem;
            }
        }

        dt{
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: .5rem;
        }

        dd{
            text-transform: capitalize;
            font-weight: 600;
            a {
              color: #2F2C2A;
              text-decoration-thickness: 2px;
              text-underline-offset: 2px;

              &:hover,
              &:focus {
                color: #FF6464;
              }
            }
        }

        .works-info{
            padding: 0.8rem;
            border-top: 2px dashed #ccc;
            border-bottom: 2px dashed #ccc;
            margin-bottom: 20px;
        }
    }
}

section.section-gallery {
  padding-top: 0;

  .main-banner,
  .sub-img {
    margin-bottom: 20px;

    @include ipad {
      margin-bottom: 30px;
    }

    @include web {
      margin-bottom: 40px;
    }
  }

}

.works-slideshow{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    min-height: 400px;

    img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
       
    }
}

.works-gallery{
    @include ipad{
        display: flex;
        flex-wrap: wrap;

        .gallery-img{
            width: 50%;
            padding: 8px;
        }
    }
}